html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    }

.container{
position: relative;
display: inline-block;
text-align: center;
min-height: 100vh;
display: grid;
 place-items: center;
}

.h1{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
    position:absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    font-size: 50px;
    background-color: crimson;
}

.h2{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
    position:absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}

.h3{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
    position:absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}

.h4{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
    position:absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}

.h5{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}

.h6{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
    position:absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}

.h7{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
    position:absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}

