@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*.body-inicio{
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    position: relative;
    z-index: 2;
}*/

.btn-neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin: 50px auto;
    color: black;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

.btn-neon:hover{
    background: yellow;
    box-shadow: 0 0 10px yellow, 0 0 40px
    yellow, 0 0 80px yellow;
}

#hero{
    min-height: 100vh;
    position: relative;
}

.promo{
    font-family: 'Press Start 2P', cursive;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}